venv/
x_env/
kalshi-bot/
muskox-bot/
grid-trading*
snipe*
starship*
*arb*
prediction*
muskox*
MUSKOX*
.credentials/
node_modules/
frontend/node_modules/
.env
frontend/.env
frontend/dist/
node_modules/
frontend/node_modules/
frontend/dist/
.env
frontend/.env
*.env
*.log
**/*.log
